<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %>, there is a new review for your elevator!</h1>
    <p>
      A new review has been posted on <%= @elevator.building_name %>!<br>
    </p>
</html>
