@import 'foundation_and_overrides';
@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

//// top bar stuff
.top-bar-section ul li > a {
  font-family: "Play",cursive !important;
  font-size: large !important;
}

.name h1 {
  font-family: 'Play', cursive !important;
}

.searcharea {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;
  }
}

.searchelement {
  margin-top: 15px;
  color: white;
  text-align: center;
}
.searchbox {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
}
input#search.searchbox {
  margin-right: 100px;
}

.searchbutton {
  position: absolute;
  top: 0;
}

.name img {
  height:65px;
  margin-top: -105px;
  margin-left: -42px;
}
.container {
  min-height: 100%;
  position: relative;
}

div#search {
  border-style: hidden;
}

input#search {
  border-bottom-left-radius: $global-radius;
  border-top-left-radius: $global-radius;
}
////////


///// show page
.showtitle-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.showtitle-item {
  padding: 5px;
  margin-top: 10px;
}

.card {
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
  .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
  }
  p {
  margin: 0;
  }
  .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem;
  }
  a {
    color: #FFFFFF;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
  }
  .image {
    position: relative;
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff;
    }
    img {
      border-radius: 2px 2px 0 0;
    }
  }
}

.pagebar {
  margin-top: 10px;
}
