<div class="elevator-footer">
  <div class="btn_cmon">
    <div class="btn_up"></div>
    <div class="btn_down"></div>
  </div>
  <div class="floor">5</div>
  <div class="this_floor">1</div>
  <div class="elevator">
    <div class="door"></div>
    <div class="inside">
      <div class="handrails"></div>
    </div>
  </div>
</div>
