<div class="elevator-footer">
  <div class="btn-cmon">
    <div class="btn btn-up"></div>
    <div class="btn btn-down"></div>
  </div>
  <div class="floor">5</div>
  <div class="floor-name">elevader</div>
  <div class="elevator">
    <div class="door"></div>
    <div class="inside">
      <div class="handrails"></div>
    </div>
  </div>
</div>
